@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Raleway:wght@200;700&display=swap");

.navbar-brand,
.nav-item {
  font-size: 1.2rem;
  color: black;
  margin: 20px;
  font-family: "Nunito", sans-serif;
}
.navbar-brand {
  margin: 0;
}
li:hover,
.navbar-brand:hover {
  background-color: aquamarine;
  font-weight: bold;
}
.logout {
  font-size: 1.2rem;
  color: black;
  font-family: "Nunito", sans-serif;
  border: none;
  background-color: white;
}
