@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Raleway:wght@200;700&display=swap");

#footer {
  width: 100%;
  border-top: gray solid 1px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: black;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  padding-bottom: 25px;
  font-family: "Nunito", sans-serif;
}
